body{
    direction: ltr;
    text-align: left !important;
    text-transform: capitalize;
}
* {
    text-transform: capitalize !important;
}
.desktoplogo {
    float: left;
}

.wsmenu {
    float: right;
}

.wsmenu>.wsmenu-list>li {
    float: left;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
    float: right;
    right: -10px;
    margin: 0 14px 0 0;
    text-align: right;
    left: inherit;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a {
    text-align: left;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu {
    left: 100%;
    right: inherit;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
    text-align: left;
}
.banner-section .content , #section-about-us ,.box-category h1 ,.info-categories , #section-why-us .why-us ,#section-services , #section-services .box-category .image , #footer_content .logo , #footer_content .info , #footer_content .info_title , #about-details , .title , #mission .card .card-body h5 , #mission .card:hover .card-body p ,  .banner-section  {
    text-align: left;
}
#section-header.breadcrumb .breadcrumb-title{
    margin-right: 0;
    margin-left: 30px;
}
#faq .accordion .accordion-item button img{
    margin-left: auto;
    margin-right: 0;
}
.banner-section .content{
    direction: ltr;
}
.uk-slider-container {
    direction: rtl;
}
#contact .form-content form {
    direction: ltr;
}
#contact .form-content form .form-group label{
    float: left;
}
#mission .card .card-body h5 img{
    float: right;
}
.wsmenu .btns a.contact-btn{
    margin-right: 20px;
    margin-left: 0;
}
.wsmenu>.wsmenu-list>li>ul.sub-menu::before{
    left: 20px;
    right: inherit;
}
.form-select{
    background-position: right 0.75rem center !important;
}
.wsmenu .btns {
    float: right;
}
.slide-item .text-content {
    padding-left:30px;
    text-align: left !important;
}
#section-about-us .group-image-about {
    float: right;
}
#section-categories .container-fluid {
    padding-right: 100px;
    padding-left: 0 !important;
}
.background-image-categories {
    border-radius: 0px 85px 0px 0px;
}
.background-image-categories::after {
    right: 0 !important;
    left: auto;
    background: linear-gradient(270deg, #eaf6ff, #ebf7ff26) !important;
}
.bottom {
    top: 435px;
}
@media only screen and (max-width: 1201px){
    .wsmenu>.wsmenu-list>li>a .wsarrow:after{
        right: -15px;
    }
}
@media only screen and (max-width: 768px){
    #footer_content .logo , #footer_content .info ,#footer_content .info_title{
        text-align: center;
    }
    #footer_content .info_title{
        align-items: center;
        gap: 15px;
    }
}
